<h2>Your Hero</h2>

#if ($heroes)
<table>
<tr>
<th>Name</th>
  <th>Age</th>
    <th>Special Powers</th>
      <th>Weakness</th>
    </tr>
  #foreach ($hero in $heroes)
  <tr>
    <td>$hero.getName()</td>
    <td>$hero.getAge()</td>
    <td> $hero.getSpecialPower()</td>
    <td> $hero.getWeakness()</td>
</tr>
    #end
  </table>
#else
<p>No hero created!</p>
#end

<a href="/hero/new">Add New Hero</a>
