<div>
<a href="/hero">Add a New Hero</a>
<a href="/heroes">View listed Heroes</a>
</div>

<h2>Squad</h2>
<div>
<a href="/squad/new">Add New Squad</a>
<a href="/squads">View Available Squads</a>
</div>
