<h1>$squad.getName() heroes:</h1>

<ul>
  #foreach($hero in $squad.getHeroes())
  <li><a href="/squads/$squad.getId()/heroes/$hero.getId()">$hero.getName()</a></li>
  #end
</ul>

<a href="/squads/$squad.getId()/heroes/new">Add a Hero</a>
<a href="/squads">All Squads</a>
